
{{#*inline "page"}}
<div class="pageWrap">
    <div class="page">
        <div class="tags-list">
        <a href="/blog" class="tag {{#if current_tag }} {{else}}active{{/if}}">All</a>
        {{#each tags}}
        <a href="/blog?tag={{this.tag}}" class="tag {{#if this.active}}active{{/if}}">{{this.tag}}</a>
        {{/each}}
        </div>
        <div class="articles-list--with-banner">
            <div class="articles-list">
                {{#each articles}}
                    <div class="list-item">
                        <div class="date-title-outer">
                            <div class="date">
                                <div class="date-span-outer">
                                    <span class="date-span">{{format_date this.created_at "%b"}} {{format_date this.created_at "%Y"}}</span>
                                </div>
                                <div class="views">
                                    <span>{{format_views_count this.views_count}} views</span>
                                </div>
                                <div class="project-tags">
                                    {{#each this.tags_list}}
                                        <div class="tag"><span>{{this}}</span></div>
                                    {{/each}}
                                </div>
                            </div>
                            <h2 class="title">
                                <a href="/blog/{{this.slug}}">{{this.title}}</a>
                            </h2>
                        </div>
                        <div class="preview">{{unicode_truncate this.content 200}}...</div>
                        <a class="read" href="/blog/{{this.slug}}">Read</a>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
{{/inline}}

{{~> (base)~}}
